img, ins {margin:0; padding:0; border:0; outline:0; font-size:100%;}

ol, ul {list-style: none;}

blockquote, q {quotes: none;}

ins {text-decoration: none;}



.hidden { height:1px !important; left:0px !important; overflow:hidden !important; position:absolute !important; left:-9999px !important; width:1px !important; line-height:1px !important; float:left; }





/* Main navigation */

#mainNavWrap {width:100%; z-index: 9000;}

#navigation {margin:0 auto; padding-top:0px;padding-left:0px; padding-right:0px;}

#navigation a:hover {color: #333333;}

#navigation li a.navHead, #navigation li a.home {float:left; text-decoration:none; font-weight:bold; color:#645e58; cursor:pointer; height:30px}

#navigation li a.navHead span,#navigation li a.home span, .isProfileOwner #mainNav .userLoggedIn #loggedInUsername {padding:13px 54px 0px 0px; float:left;}



.notReady .arrow {visibility: hidden}

#navigation li.signInRegister {float:right; width:10.5em; width:10em\9; margin-right:0;}

#navigation li.signInRegister button {float:right; margin-right:0;}

#navigation li.signInRegister p {float:right; margin-right:0}

#navigation li.signInRegister a {font-weight:bold; color:#044388; position:relative; top:5px; left:-5px}

#navigation li.signInRegister a:hover {color:#30609e;}

#navigation li.cartDivider {border-left:1px solid #CCCCCC;}



#navigation li.globalCartHead a {background:0px -1366px no-repeat; float:right; padding:5px 8px 5px 30px; text-decoration:none; font-weight:bold;}

#navigation li.globalCartHead a:hover {color:#0077CC; text-decoration:underline;}



#mainNav li.userLoggedIn {float: right;}

#mainNav .member {float: left; padding: 0;}

.isProfileOwner #mainNav .member {padding: 3px 0 0 3px;}

#mainNav li.userLoggedIn {margin-top: 2px; margin-right: 0}

#mainNav .userLoggedIn #loggedInUsername {padding-bottom: 2px; padding-top: 6px;}

#mainNav .userLoggedIn #unread{background:no-repeat scroll 0 -1242px transparent;height:13px;margin-left:0px; padding:6px 5px 0 20px; font-weight:normal}

#mainNav .userLoggedIn #unread.newMail{color:#0066cc; background:no-repeat scroll 0 -1282px transparent; line-height:1.4em}

#navigation li.userLoggedIn a.navHead {height: auto;border-bottom: 0; text-decoration:none!important}

#mainNav li.userLoggedIn .navHead img.arrow {margin-top: 7px; border-left:1px solid #B3ABA0; padding-left: 3px; background-position: 3px -407px; background-repeat:no-repeat;}

#mainNav li.userLoggedIn a.highlight img.arrow {background-position: -73px -412px !important}

#mainNav li.userLoggedIn a.highlight img.highlight {background-position: -35px -412px !important}

#mainNav li.userLoggedIn {margin-left:5px;}

#mainNav li.userLoggedIn, #mainNav li.userLoggedIn ul.menu {background-color:#e5e5e5;}

#mainNav li.signout {border-top:1px solid #B3ABA0; margin: 10px 4px 0; padding-top:10px; padding-left:9px; zoom:1}

#mainNav li.tab li.signout a {background:0 -697px no-repeat; padding-left:9px;}/*small > */



#mainNav .tab { float: left; position: relative; margin-right:2px;  z-index:12}

#mainNav .tab .navHead .arrow, .isProfileOwner #mainNav .tab .navHead .arrow {margin: 11px 5px 0 0;}

#mainNav .tab ul.menu {position: absolute; font-size:1em; width:205px; border-bottom:1px solid #bcb1a4; border-right:1px solid #bcb1a4; border-left:1px solid #bcb1a4; top: 100%;left: 0;}

#mainNav .tab ul.menu.noHeading {padding-top: 1em;}

#mainNav .tab ul.menu li {position: relative; margin: 0 7px 0.5em 7px;padding: 2px 0 2px 3px}

#mainNav .tab ul.menu li .submenu li {padding:5px; background:none; border-bottom:1px solid #d6d6d6;}

#mainNav .tab ul.menu div.submenu {position: absolute; top:0;left:100%;padding:10px 0 10px 10px;border:1px solid #d6d6d6;}



#mainNav ul.menu li.head {font-weight:bold; color:#000066; font-size:1.2em; margin-top: 1em;}

#mainNav li .submenu.col1 { width: 150px; }

#mainNav li .submenu.col2 { width: 300px; }

#mainNav li .submenu.col3 { width: 450px; }

#mainNav li .submenu.col4 { width: 600px; }

#mainNav li .submenu.col5 { width: 750px; }

#mainNav li .submenu.col_travelinterest { width: 200px; }

#mainNav li .submenu ul {width: 150px;float: left;}



#mainNav li.tab img.arrow {0 -407px;}/*arrow down*/

#mainNav li.tab a.highlight img.arrow {-76px -412px;}/*arrow down half highlite*/

#mainNav li.tab a.highlight img.highlight {repeat -38px -412px;}/*arrow down full highlite*/



#mainNav li.tab {0 -202px;}/*left-off*/

#mainNav li.tab a {100% -328px; border-bottom:1px solid #FFFFFF;}/*right-off*/

#mainNav li.tab, #mainNav li.tab div.submenu {background-color:#e5e5e5;}

#mainNav li.tab .menu a, #mainNav li.tab li {line-height:1.5; color:#333}

#mainNav li.highlight ul.menu, #mainNav li.highlight ul.menu div.submenu {background-color:green;}

#mainNav li.highlight {background:#d6d6d6  no-repeat 0 -244px;}/*left-hover*/

#mainNav li.highlight a {background: no-repeat 100% -370px;}/*right-hover*/

#mainNav li.highlight a {border-bottom: none;}

#mainNav li.current ul.menu, .isProfileOwner #mainNav li.userLoggedIn, .isProfileOwner #mainNav li.userLoggedIn ul.menu {background-color:#e5e5e5;}



#mainNav li.current ul.menu div.submenu

{

background-color:#f4f4f4;}/*color for sub navigatoin*/



#mainNav li.current {background:#FFFFFF no-repeat 0 -160px;}/*left-on background color of header menu*/

#mainNav li.current a {background: no-repeat 100% -286px;}/*right-on*/



#mainNav li.tab ul.menu img.arrow {float:right; padding: 2px 2px 0 5px; background:3px -461px no-repeat;}/*arrow right*/

#mainNav li.tab ul.menu li.selectable {cursor: pointer;}

#mainNav li.tab ul.menu li.selectable ul {cursor: default;}

#mainNav li.tab ul.menu li{background-color:#d6d6d6; padding:5px;}

#mainNav li.tab ul.menu li.highlight img.arrow {background:  no-repeat -73px -464px;}/*arrow right half highlite*/

#mainNav li.tab ul.menu li img.highlight {background: no-repeat -35px -464px !important;}/*arrow right full highlite*/



.isProfileOwner #mainNav li.userLoggedIn {margin-top: 0;}



.invisible {visibility: hidden;}



/* Sub Nav */

 #global-sub-navigation {float: left;}

 #global-sub-navigation ul{padding:0; margin:0; float: left;}

 #global-sub-navigation li {float: left; display: block;line-height: 1.6em; position: relative; text-align:center;}

 #global-sub-navigation li a{line-height: 1.6em; display: block; padding:0px; color:#000!important; font-size: 14px; font-weight:bold; text-decoration:none; background:#fff}

 #global-sub-navigation li.sn-current{padding:0 10px;}

 #global-sub-navigation li.first{padding-left:0;}

 #global-sub-navigation li.sn-current a{ -moz-border-radius: 4px;-webkit-border-radius: 4px;  border-radius: 4px; background:#0396b7; color:#fff!important;}



 #global-sub-navigation li.sn-current span{border-color: #0396B7 transparent transparent transparent; border-style: solid; border-width: 10px; height:0; width:0; position:absolute;

    bottom:-20px; left:39%;}



*html #global-sub-navigation li.sn-current span{border:0;}





